

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  transition-duration: 0.4s;
}

.text {
  display: flex;
  justify-content: center;
  font-family: Montserrat-Regular;
  font-weight: 100;
  color: rgba(162, 25, 25, 1);
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 2em;
  letter-spacing: 2.3px; 
  margin: 0;
  min-width: 200px;
  font-size: 2em;
}

#noFoundText {
  justify-content: center;
  font-family: Montserrat-Regular;
  color: rgba(162, 25, 25, 0.6);
  text-transform: none;
  margin-top: 1.5em;
  font-size: 1em;
}

@media only screen and (max-width: 500px) {
   .text {
      font-size: 1.4em;
    }

    #noFoundText {
      font-size: 0.7em;
    }

}