.recipeCard {
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
    background: #fcf8e8;
    transition: all .2s ease-in-out;
}

.recipeCard:hover {
	transform: scale(1.1);
}

.image {
	border-radius: 20%;
}

.title {
	font-family: Zilla Slab Highlight, display;
	color: rgba(132, 10, 10, 1);
	text-transform: none;
  	font-style: normal;
  	text-decoration: none;
  	font-size: 1.8em;
}

.calories {
	font-family: Zilla Slab Highlight, display;
	color: rgba(50, 5, 5, 1);
	font-size: 1.5em;
	margin-top: 0;
}

.listText {
	font-family: Zilla Slab Highlight, display;
	color: rgba(50, 5, 5, 1);
	font-size: 1.2em;
}
