.App {
  min-height: 100vh;
  background: url(./images/background1.jpg) no-repeat center center fixed;
  background-size: cover;
}

.spam {
  margin: 30px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
   background: lightcoral;
   border: none;
   padding: 10px 20px;
   color: white;
   transition-duration: 0.1s;
}

.search-button:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.search-button:active {
  background-color: #af5050;
  transform: translateY(2px);
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  transition-duration: 0.4s;
}

.text {
  display: flex;
  justify-content: center;
  font-family: Zilla Slab Highlight, display;
  font-size: 80px;
  font-weight: 100;
  color: rgba(162, 25, 25, 1);
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 2em;
  letter-spacing: 2.3px; 
  margin: 0;
}

#noFoundText {
  justify-content: center;
  font-size: 60px;
  color: rgba(162, 25, 25, 0.5);
  text-transform: none;
  margin: 2em;
}
