.App {
  min-height: 100vh;
  min-width: 300px;
  background: url(./images/background1.jpg) no-repeat center center fixed;
  background-size: cover;
}

.spam {
  margin: 30px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
   background: lightcoral;
   border: none;
   padding: 10px 20px;
   color: white;
   transition-duration: 0.1s;
}

.search-button:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   background-color: #cf7373;
}

.search-button:active {
  background-color: #af5050;
  transform: translateY(3px);
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  transition-duration: 0.4s;
}

.text {
  display: flex;
  justify-content: center;
  font-family: Zilla Slab Highlight, display;
  font-weight: 100;
  color: rgba(162, 25, 25, 1);
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 2em;
  letter-spacing: 2.3px; 
  margin: 0;
  min-width: 200px;
  font-size: 2em;
}

#noFoundText {
  justify-content: center;
  color: rgba(162, 25, 25, 0.6);
  text-transform: none;
  margin-top: 1.5em;
  font-size: 1.5em;
}

@media only screen and (max-width: 500px) {

    .search-form {
      min-height: 6vh;
    }

    .search-bar {
      width: 45%;
    }

   .text {
      font-size: 1.4em;
    }

    #noFoundText {
      font-size: 1em;
    }

}
