.App {
  min-height: 100vh;
  min-width: 300px;
  background: url(./assets/backgrounds/background1.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px; /* Add a top margin to avoid content overlay */
  transition: 3s ease-in-out;
}


